*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: #ffff;
}
html,body{
    height: 100%;
    width: 100%;
}
#cursor{
    height: 20px;
    width: 20px;
    background-color: aqua;
    border-radius: 50%;
    position: fixed;
    z-index: 8;
    transform: translate(-50%,-50%);
    mix-blend-mode: difference;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    pointer-events: none;
    background-position: center;
    background-size: cover;
    transition: background-image ease 0.5s;
}

#purple{
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #edbfff;
    z-index: 100;
    opacity: 0;
    display: none;
    transition: opacity display ease 1s;
}

#main{
    background-color: #0f0d0d;
    cursor: none;
}

#page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 12vw;

}

a{
    z-index: 99999999;
}
#nav{
    height: 55px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    z-index: 102;
    mix-blend-mode: difference;
}

#nav h3{
    color: #fff;
    font-size: 20px;
}

#nav-part2{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#nav-part2 h4{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

#nav-part2 h4:nth-child(1){
    border-bottom: 2px solid #fff;
}

#nav-part3{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fff;
}

#page1>h1{
    font-size: 8vw;
    font-weight: 300;
    margin-left: 6vw;
    line-height: 80px;
}

#page1>h2{
    font-size: 8vw;
    font-weight: 300;
    margin-left: 26vw;

}

#page1>video{
    width: 60%;
    margin-top: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

#page2{
    min-height: 80vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid #6c6c6c;
    position: relative;
    z-index: 9;
}

#page2 h1{
    font-size: 7vw;
    font-weight: 300;
    color: #111;
}

#page2container{
    height: 60vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
}

#page2left{
    width: 38%;
    /* background-color: purple; */
}

#page2right{
    width: 24%;
    /* background-color: purple; */
}

#page2left h2{
    font-size: 3vw;
    font-weight: 300;
    color: #111;
    line-height: 4vw;
    
}

#page2right p{
    font-size: 24px;
    color: #111;

}

#page2right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding:  4px 0;
    background-color: #edbfff;
    color: #111;
    margin-top: 20px;
}
#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 100px;
}

#page3 h1{
    font-size: 6.8vw;
    color: #111;
    font-weight: 300;
    margin-left: 100px;
}

.page3part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: red; */
}

.page3part1 img{
    height: 600px;
    object-fit: cover;
    margin-top: 160px;
}

#page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 120px 100px;
    border-bottom: 2px solid white;
}


.elem{
    /* background-color: salmon;   */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-transform: capitalize;
}



.text-div{
    /* background-color: blue; */
    height: 145px;
    overflow: hidden;
}
.elem img{
    height: 350px;
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);

}

.elem img:nth-child(1){
    left: 2%;
}

.elem img:nth-child(3){
    right: 5%;
}
.elem h1{
    font-size: 7.3vw;
    /* color: #111; */
    transition: all ease-out 0.5s;
}

.elem:hover img{
    opacity: 1;
    transform: translateY(0) rotate(0);
    z-index: 9;
 }
 
 .elem:hover h1{
     transform: translateY(-100%);
 }



#page5{
    width: 100%;
    background-color: #6c6c6c;
    min-height: 100vh;
    position: relative;
    z-index: 9;
    padding: 140px 100px;
}

#page5 h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 50px;
}

#page5 .box{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
    border-top: 1.5px solid #dadada;
}

.box h3,h4{
  opacity: 0.4;
}

.box:nth-last-child(1){
    border-bottom: 1.5px solid #dadada;
}

#footer{
    height: 90vh;
    width: 100%;
    background-color: #edbfff;

}
